.food-item {
  margin-bottom: 3.5rem;
  user-select: none;

  animation: slideInRight 0.5s 1;

  &__body-container {
    cursor: pointer;
    position: relative;
    width: 32rem;
    height: 48rem;
    border-radius: 12px;
    transition: $ease-transition;
    overflow: hidden;

    &::before {
      @include pseudo_template;

      background-color: $blue;
      left: -252px;
      transition: $ease-transition;
    }
  }

  &__body-mask {
    position: absolute;
    width: 100%;
    height: 100%;

    &::before {
      @include pseudo_template;

      left: -252px;
      opacity: 0;
      background-color: rgba($white, 0.5);
      transition: $ease-transition;
    }
  }

  &__body {
    position: absolute;
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    color: black;
    border-radius: 10px;

    overflow: hidden;
    padding-left: 4.8rem;
    z-index: 0;

    &::after {
      @include pseudo_template;

      transform: rotate(45deg);
      left: -253px;
      z-index: -2;
      background-color: white;
    }
  }

  &__body-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url(../img/Photo.png);
    background-repeat: no-repeat;
    background-position: top 21.2rem left -2.8rem;
  }

  &__subtitle {
    position: relative;
    margin-top: 2.1rem;

    color: $grey;
    line-height: 1.9rem;
    height: 1.9rem;
    font-weight: normal;

    p {
      left: 0;
      position: absolute;
      transition: $ease-transition;
    }

    &--1 {
      opacity: 1;
      top: 0px;
    }

    &--2 {
      color: $red;
      opacity: 0;
      top: -10px;
    }
  }

  &__title {
    margin-top: 0.5rem;

    font-size: 4.8rem;
    font-weight: bold;
    line-height: 5.6rem;
  }

  &__description {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.8rem;
  }

  &__contents {
    margin-top: 1.5rem;

    li {
      color: $grey;
      font-weight: 1.4rem;
      line-height: 1.8rem;
    }
  }

  &__weight {
    height: 8rem;
    width: 8rem;

    position: absolute;
    bottom: 1.2rem;
    right: 1.2rem;

    background-color: $blue;
    border-radius: 50%;

    color: $white;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: $ease-transition;
  }

  &__weight-value {
    font-size: 4.2rem;
    line-height: 1;
  }

  &__weight-units {
    font-size: 2.1rem;
    line-height: 1;
  }

  &__status {
    position: relative;
    margin-top: 1.5rem;
    font-size: 1.3rem;
    line-height: 1.5rem;
  }

  &__message {
    text-align: center;
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    transition: $ease-transition;

    a {
      color: $blue;
      text-decoration: underline dashed $blue;
    }

    &--1 {
      animation: slideInBottom 0.5s 1;
      opacity: 1;
      top: 0px;
      visibility: visible;
    }

    &--2 {
      visibility: hidden;
      opacity: 0;
      top: -10px;
    }
  }

  &.selected {
    .food-item {
      &__body-container {
        &::before {
          background-color: $red;
        }
      }

      &__weight {
        background-color: $red;
      }

      &__message {
        &--1 {
          top: 10px;
          opacity: 0;
          visibility: hidden;
        }

        &--2 {
          visibility: visible;
          top: 0px;
          opacity: 1;
        }
      }
    }
  }

  &.inactive {
    .food-item {
      &__body-container {
        cursor: auto;
      }

      &__body-mask {
        &::before {
          opacity: 1;
        }
      }

      &__body-container {
        &::before {
          background-color: $grey;
        }
      }

      &__weight {
        background-color: $grey;
      }

      &__status {
        color: $yellow;
      }
    }
  }

  &.hover {
    .food-item {
      &__body-container:hover {
        .food-item {
          &__subtitle {
            &--1 {
              opacity: 0;
              top: 10px;
            }

            &--2 {
              opacity: 1;
              top: 0;
            }
          }
        }
      }
    }
  }
}
